.messages {
}
button.clear {
  font: menu;
  background-color: #eee;
  border: none;
  padding: 1px 0.5em;
  border-radius: 3px 3px 0;
  cursor: pointer;
  margin-left: 0.5em;
  display:block;
}
button:hover {
  background-color: #cfd8dc;
}
div.message {
  font: menu;
  padding: 1px 0.5em;
  border-top: 1px solid #eee;
}
button:disabled {
  font-style: italic;
  cursor: auto;
}
