[class*='col-'] {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
[class*='col-']:nth-of-type(5) {
  margin-right: 0;
}
.col-1-4 {
  width: calc(0.2*(100% - 80px));
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
.grid {
  margin: 0;
  position: relative;
}
.grid-pad {
  padding: 10px 0;
}
.module {
  text-align: center;
  color: #eee;
  height: 120px;
  background-color: #aaa;
  border-radius: 2px;
  position: relative;
  font-size: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.module:hover {
  opacity: 0.5;
  cursor: pointer;
  color: #607d8b;
}
.module span, .module a {
  display: block;
  width:100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}
.module span {
  padding: 90px 20px 0;
  color: white;
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}
.module a {
  text-decoration: none;
  color: transparent;
}
.module:hover a {
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
  .module span {
    padding: 60px 10px 0;
  }
}
.hovered {
   box-shadow: 5px 5px 3px green;
   opacity: 0.5;
}
