<div *ngIf="student" class="container">
<a (paste)="paste($event,student.id)" contenteditable
      (click)="$event.preventDefault()"
      (mouseover)="$event.target.focus()" (mouseleave)="$event.target.blur()">
  <img *ngIf="student.image" src="{{student.image}}" (dragover)="dragover($event,student.id)"
    (dragleave)="dragleave($event)" (drop)="drop($event)"
    (mouseover)="$event.target.parentNode.focus()">
  <div *ngIf="!student.image" class="placeholder" (dragover)="dragover($event,student.id)"
    (dragleave)="dragleave($event)" (drop)="drop($event)"
    (mouseover)="$event.target.parentNode.focus()"></div>
</a>
<div class="data">
<h2>{{student.first_name}} {{student.last_name}}</h2>
<div>
 <label>Prénom :
  <input [(ngModel)]="student.first_name" placeholder="Jean">
 </label>
</div>
<div>
 <label>Nom :
  <input [(ngModel)]="student.last_name" placeholder="Aymard">
 </label>
</div>
<div>
 <label>Trigramme :
  <input [(ngModel)]="student.id" placeholder="jad">
 </label>
</div>
<div>
 <label>Origine :
  <input [(ngModel)]="student.origin" placeholder="Césure 2A Centrale Lyon" class="wide">
 </label>
</div>
<button (click)="goBack()">retour</button>
<button (click)="save()">modifier</button>
</div>
</div>
