.container {
  margin-top: 1.33em;
}

/* editor */
div {
  position: relative;
}
label {
  color: #484;
  line-height:1.33em;
}
input {
  left: 7em;
  position: absolute;
  border: none;
  border-bottom: 1px solid #ccc;
}

button {
  margin: 1.33em 0.5em 0 0;
}
