.container {
  margin-top: 1.33em;
  position: relative;
}

/* editor */
.data {
  position: absolute;
  top: 0;
  left: 200px;
}
label {
  color: #484;
  line-height:1.33em;
}
input {
  border: none;
  border-bottom: 1px solid #ccc;
  position: absolute;
  left: 8em;
}

button {
  margin: 1.33em 0.5em 0 0;
}

img, .placeholder {
  display:block;
  width: 180px;
  margin-right: 20px;
  box-shadow: 2px 2px 2px #444;
}
.placeholder {
  height: 235px;
  background-color: #ccc;
}
.wide {
  width: 25em;
}
